<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/RMChallengeLogo.png" alt="Logo" class="header-logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-button color="primary" [disabled]="hayPendiente" (click)="cargarPesos()">
        PESOS
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="primary" [disabled]="hayPendiente" (click)="cargarDistancias()">
        DISTANCIAS
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="primary" [disabled]="hayPendiente" (click)="cargarBodyBuilding()">
        BODYBUILDING
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="primary" [disabled]="hayPendiente" (click)="cargarDesafios()">
        DESAFIOS
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="success" [disabled]="!hayPendiente" (click)="irAPendiente()">
        IR A PENDIENTE
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="warning" (click)="irABusquedaManual()">
        BÚSQUEDA MANUAL
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

